body, td
{
	margin: 0px;
	line-height: 20px;
	font-size: 12px;
	font-family:Î¢ÈíÑÅºÚ;
	color: #000000;
    overflow:auto;
}
table.gridview_m td,th
{
    border-collapse: collapse;
    border:solid 1px #eeeeee; 
}
table.gridview_m th 
{
    text-align:center;
}

.gridview_m td 
{
    padding:5px 5px 5px 5px;
}
submitcss
{
	border-top-width: 0px;
	border-left-width: 0px;
	background: url(../images/btn.png) no-repeat;
	border-bottom-width: 0px;
	width: 74px;
	cursor: hand;
	color: #ffffff;
	height: 21px;
	border-right-width: 0px;
}
textcss
{
	border-right: #404040 1px solid;
	padding-right: 0px;
	border-top: #404040 1px solid;
	padding-left: 5px;
	font-size: 9pt;
	background: url(../images/input.png) repeat-x;
	padding-bottom: 2px;
	border-left: #404040 1px solid;
	color: #212121;
	padding-top: 2px;
	border-bottom: #404040 1px solid;
}


.inputCss
{
	height: 20px;
	width: 250px;
} 
a:link
{
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
a:visited
{
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
a:hover
{
	font-size: 12px;
	color: #CF7500;
	text-decoration: none;
}
a.na:link
{
	font-size: 12px;
	font-weight: bold;
	color: Red;
	text-decoration: none;
}
a.na:visited
{
	font-size: 12px;
	font-weight: bold;
	color: Red;
	text-decoration: none;
}
a.na:hover
{
	font-size: 12px;
	font-weight: bold;
	color: Red;
	text-decoration: underline;
}
a.hei:link
{
	font-size: 12px;
	color: Black;
	text-decoration: none;
}
a.hei:visited
{
	font-size: 12px;
	color: Black;
	text-decoration: none;
}
a.hei:hover
{
	font-size: 12px;
	color: Black;
	text-decoration: underline;
}

a.heiBold:link
{
	font-size: 12px;
	font-weight: bold;
	color: Black;
	text-decoration: underline;
}
a.heiBold:visited
{
	font-size: 12px;
	font-weight: bold;
	color: Black;
	text-decoration: underline;
}
a.heiBold:hover
{
	font-size: 12px;
	font-weight: bold;
	color: Black;
	text-decoration: underline;
}

a.BlueCss:link
{
	font-size: 12px;
	color: Blue;
	text-decoration: none;
}
a.BlueCss:visited
{
	font-size: 12px;
	color: Blue;
	text-decoration: none;
}
a.BlueCss:hover
{
	font-size: 12px;
	color: Blue;
	text-decoration: underline;
}


a.bai:link
{
	font-size: 12px;
	color: White;
	text-decoration: none;
}
a.bai:visited
{
	font-size: 12px;
	color: White;
	text-decoration: none;
}
a.bai:hover
{
	font-size: 12px;
	color: White;
	text-decoration: none;
}
.TextBoxCss
{
	height: 20px;
	width: 140px;
}

.HerCss
{
	cursor: hand;
}
.tddisp
{
	display: none;
}
.TextBoxCss
{
	font-size: 12px;
	color: Black;
	width: 250px;
}
.ButtonCss
{
	font-size: 12px;
}
.DropCss
{
	font-size: 12px;
}
.TreeBG
{
	background-image: url(../images/TreeBG.jpg);
	background-repeat: repeat-x;
	text-align: center;
}

a.SSCss:link
{
	font-size: 12px;
	color: Blue;
	text-decoration: none;
}
a.SSCss:visited
{
	font-size: 12px;
	color: Blue;
	text-decoration: none;
}
a.SSCss:hover
{
	font-size: 12px;
	color: Blue;
	text-decoration: underline;
}
a.CPCss:link
{
	font-size: 12px;
	color: Red;
	text-decoration: none;
}
a.CPCss:visited
{
	font-size: 12px;
	color: Red;
	text-decoration: none;
}
a.CPCss:hover
{
	font-size: 12px;
	color: Red;
	text-decoration: underline;
}